{deps,
 [
  {jsx, "2.8.0"},
  {lfe, "1.2.0"}
 ]}.

{plugins, [{'lfe-compile', "0.7.0", {pkg, rebar3_lfe_compile}}]}.

{provider_hooks, [{post, [{compile, {lfe, compile}}]}]}.

{project_plugins,
 [
  {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {branch, "develop"}}}
 ]}.

{profiles,
 [{test,
   [{eunit_compile_opts, [{src_dirs, ["test"]}]},
    {deps,
     [
      {ltest, {git, "git://github.com/lfex/ltest.git", {tag, "0.9.0"}}}
     ]}
   ]}
 ]}.

{lodox,
 [{apps,
   [
    {elli_cloudfront,
     [{'source-uri',
       "https://github.com/elli-lib/libcloudfront"
       "/blob/{version}/{filepath}#L{line}"}]}
   ]}
 ]}.
